
@{
    ViewData["Title"] = "Access Denied";
}

<div style="text-align: center;">
    <h1 style="font-size: 130px">403</h1>
    <h3 style="font-size: 30px">You do not have permission to access this page</h3>
</div>


