
@{
    ViewData["Title"] = "Error";
}

<div style="text-align: center;">
    <h1 style="font-size: 130px">@TempData["ErrorTitle"]</h1>
    <h3 style="font-size: 30px">@TempData["ErrorMessage"]</h3>
</div>

