
@{
    ViewData["Title"] = "UnAuthorized";
}

<div style="text-align: center;">
    <h1 style="font-size: 130px">401</h1>
    <h3 style="font-size: 30px">You are not Authorized</h3>
    <h3 style="font-size: 30px">please contact administrator for more info</h3>
</div>

